body{
    margin-left: 20px;
}

.chat {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 16px;
    /* margin-top: 3px; */
    display: inline-block;
    margin: 5px;
}
.msg{
    background-color: rgb(244, 244, 156);
    color: black;
    padding: 5px 10px;
    border-radius: 16px;
}