<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<link rel="stylesheet" href="style.css">

<body>
    <form class="form" method="post" action="/posts">
        <input class="newinputname" placeholder="enter username" name="username"></br></br>
        <textarea class="newcontent" placeholder="Write your post" name="content"></textarea></br></br>
        <button>Submit</button>
    </form>
</body>

</html>