<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users Data</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>UserName</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <form mathod="GET" action="/user/<%=user.id%>/edit">
                        <button>Edit Details</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>